extends /__base.pug

append header
  include /.inc/nav.inc.pug

block main
  div
    p=match.date
    p=match.city
    each p in players
      div
        span=`${p.lastName} ${p.firstName}`
        span=p.rating